[submodule "vim/dotvim/bundle/jellybeans"]
	path = vim/dotvim/bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/dotvim/bundle/nerdtree"]
	path = vim/dotvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/dotvim/bundle/vim-l9"]
	path = vim/dotvim/bundle/vim-l9
	url = https://github.com/vim-scripts/L9.git
[submodule "vim/dotvim/bundle/molokai"]
	path = vim/dotvim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/dotvim/bundle/fuf-fizzy"]
	path = vim/dotvim/bundle/fuf-fizzy
	url = https://github.com/cristibalan/fuf-fizzy.git
